Repository gregorias/grzegorzssiteblocker: changes, and which lefthook commands are due for each by the changed paths.
All: json-prettier, yaml-prettier

json-prettier:
  tags: style
  run: prettier -c {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

chore: add a version match check
  .lefthook/pre-commit/check-version-match
  lefthook.yml
Due: yaml-prettier

chore: update license to GPLv3
  LICENSE.txt
  package.json
Due: json-prettier

chore: add Webpack
  .gitignore
  .lefthook/pre-commit/check-version-match
  DEV.md
  dev/bin/package
  extension/background.js
  extension/storage.js
  lefthook.yml
  package-lock.json
  package.json
  public/g_128.png
  public/manifest.json
  public/options.html
  src/background.js
  src/options.js
  src/storage.js
  webpack.config.js
Due: json-prettier, yaml-prettier

chore: add TypeScript
  package-lock.json
  package.json
  src/background.js
  src/options.js
  src/storage.mts
  tsconfig.json
  webpack.config.js
Due: json-prettier

chore: install React
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: json-prettier

docs: update DEV.md
  DEV.md
Due: none

chore: setup Playwright
  .gitignore
  DEV.md
  package-lock.json
  package.json
  playwright.config.ts
  tests/fixtures.ts
  tests/grzegorzssiteblocker.spec.ts
  tsconfig.json
  webpack.config.js
Due: json-prettier

chore: clean up fixtures.ts
  tests/fixtures.ts
Due: none

chore: add Just for build & test
  DEV.md
  justfile
Due: none

chore: document NPM setup
  DEV.md
Due: none

chore: add tests to pre-commit
  lefthook.yml
Due: yaml-prettier

feat: drop URL filter support
  public/options.html
  src/options.js
  src/regexp.mts
Due: none

feat: add min-width to the popup
  public/options.html
Due: none

chore: release 1.14
  package.json
  public/manifest.json
Due: json-prettier

chore: add a test
  TESTING.md
  src/options.js
  tests/grzegorzssiteblocker.spec.ts
Due: none

feat: use React for options page
  package-lock.json
  package.json
  public/options.html
  src/RuleElement.tsx
  src/RuleList.tsx
  src/options.js
  src/options.jsx
  src/regexp.ts
  src/rule.tsx
  tsconfig.json
  webpack.config.js
Due: json-prettier

chore: use ts for Rule
  src/rule.ts
Due: none

feat: add OptionsPage
  src/OptionsPage.tsx
  src/background.js
  src/options.jsx
  src/storage.ts
Due: none

fix(options): remove change listener on unmount
  src/OptionsPage.tsx
  src/storage.ts
Due: none

chore: delete .mts
  webpack.config.js
Due: none

fix: align the logo
  g.svg
Due: none

chore: install MUI
  package-lock.json
  package.json
Due: json-prettier

feat: install Roboto
  public/options.html
Due: none

feat: add MUI theme
  src/theme.ts
  tsconfig.json
Due: json-prettier

feat: add theme color background
  public/options.html
Due: none

feat: apply Theme
  src/OptionsPage.tsx
Due: none

feat(options): add Material add button
  src/RuleList.tsx
Due: none

feat: add add icon
  package-lock.json
  package.json
  src/RuleList.tsx
Due: json-prettier

feat: add MUI to RuleElement
  public/options.html
  src/RuleElement.tsx
  tests/grzegorzssiteblocker.spec.ts
Due: none

feat: fix layout
  public/options.html
  src/RuleElement.tsx
  src/RuleList.tsx
Due: none

feat: remove preamble
  public/options.html
Due: none

chore: update options screenshot
  imgs/gsb-options.png
  imgs/reddit-block.jpg
Due: none

chore: release v1.15.0
  package.json
  public/manifest.json
Due: json-prettier

chore: release v1.16.0
  package.json
  public/manifest.json
Due: json-prettier

docs: document drag&drop attempt
  DEV.md
Due: none

feat: support dark mode theme
  public/options.html
  src/OptionsPage.tsx
  src/theme.ts
Due: none

docs: document disabling only the Reddit homepage
  README.md
Due: none

chore: add just package
  justfile
Due: none

docs: document package
  DEV.md
Due: none

chore: release v1.17.0
  package.json
  public/manifest.json
Due: json-prettier

Path conditions:
  json-prettier: any of: *.json
  yaml-prettier: any of: *.{yml,yaml}
